

@media screen and (max-width: 1199px) {
    .we-doing {
        display: none;
    }
    .icon-svg {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 56px;
        line-height: 60px;
        width: 496px;
        margin-bottom: 36px;
    }

}
@media screen and (min-width: 1200px) {
    .hero {
        padding: 188px 0px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-fon/people-office.jpg);
    }
    .title  {
        margin-bottom: 48px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-fon/people-office-2x.jpg);    }
    }
}

@media screen and (min-width: 768px) {
    .open-menu {
        display: none;
    }
}

        /* -----------------------------header----------------------------------- */
@media screen and (max-width: 767px) {
    .hidden-head {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .logo-header {
        margin-right: 120px;
    }
    .hero {
        padding: 188px 0px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-fon/people-office-tab.jpg);
        
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-fon/people-office-tab-2x.jpg);
        }
    }
}
@media screen and (min-width: 1200px) {
    .auth-nav a {
        width: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    .logo-header {
        margin-right: 76px;
    }
    
    .auth-nav {
        margin-left: 332px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

}


@media screen and  (min-width: 768px) and (max-width: 1200px) {

    .list-advantages {
        column-gap: 24px;
        justify-content: space-between;
    }
    .benefits-list {
        flex-basis: calc((100% - 24px) / 2);
    }
    
}

@media screen and (min-width: 1200px) {
    .benefits-list {
        flex-basis: calc((100% - 72px) / 4);
    }
    .list-advantages {
        justify-content: space-between;
    }
    .pre-benefits {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .benefits {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    .desc-benefits {
        font-weight: 400;
    }
}




@media screen and (min-width: 768px) and (max-width: 1200px) {
    .display-flax {
        column-gap: 24px;
        row-gap: 64px;
    }
}
@media screen and (min-width: 1200px) {
    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .display-flax {
        justify-content: center;
        gap: 24px;
    }
    .bgr-img {
        flex-basis: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1200px) {
    .bgr-img {
        flex-basis: calc((100% - 72px) / 4);
    }
}

@media screen and (max-width: 1199px) {
    .first-container {
        max-width: 766px;
        padding: 0 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    
    .container {
        max-width: 582px;
    }

    .customers-item {
    flex-basis: calc((100% - 48px) / 3);    
    height: 88px;  
    width: 168px;
    }

    .customers-list {
        gap: 24px;
    }
}
@media screen and (min-width: 1200px) {

    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .container {
        max-width: 1158px;
    }

    .customers-list {
        gap: 24px;
    }

    .customers-item {
    flex-basis: calc((100% - 120px) / 6);    
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .container {
        max-width: 582px;
        margin: 0 auto;
    }

    .footer-flex {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .logo-footer {
        text-align: left;
    }

    .footer-soc-media {
        text-align: left;
    }

    .footer-text {
        width: 264px;
    }
    
    .mail-subscrib {
        text-align-last: left;
    }

    .subscription {
        width: 264px;
        margin-bottom: 0;
        position: relative;
    }

    .button-subscribe {
        position: absolute;
        margin-left: 24px;
        display: inline-block;
    }
}

@media screen and (min-width: 1200px) {

    .container {
        max-width: 1158px;
        padding: 0;
    }

    .footer-flex {
        display: flex;
        flex-wrap: wrap;
        /* column-gap: 24px; */
    }
    
    .logo-footer {
        text-align: left;
        margin-bottom: 16px;

    }

    .footer-text {
        margin: 0;
        margin-right: 120px;
    }
    
    .footer-soc-media {
        text-align: left;
        margin-bottom: 16px;
    }
    
    .footer-text {
        width: 264px;
        padding-bottom: 0;
    }

    .footer-soc-network {
        margin: 0;
        margin-right: 80px;
    }
    
    .mail-subscrib {
        text-align-last: left;
    }
    
    .subscription {
        width: 264px;
        margin-bottom: 0;
        position: relative;
    }
    
    .button-subscribe {
        position: absolute;
        margin-left: 24px;
        display: inline-block;
    }
    
}